.section_index{
    background: hsl(0, 0%, 87%);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.card_index{
    cursor: pointer;
    border-radius: 5px;
    width: 190px;
    height: 170px;
    background-color: rgb(163, 163, 163);
}
.card_index h3{
    margin-left: 10px;
}
.card_docs,
.card_user, 
.card_notifications,
.card_humana{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card_user{
    background-image: url(../../img/12704341_5051402.jpg);
}
.card_docs{
    background-image: url(../../img/docs.jpg);
}
.card_notifications{
    background-image: url(../../img/notifications.jpg);
}
.card_humana{
    background-image: url(../../img/G_humana.jpg);
}
@media screen and (max-width: 481px) {
    .section_index {
        width: 100%;
        padding: 90px 0 20px 0;
        height: fit-content;

    }
    .cards_container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card_index{
        width: 100%;
    }
}