@tailwind base;
@tailwind components;
@tailwind utilities;


*{  
    padding: 0;
    margin: 0;
}

.section{
    margin-top: 92px;
}

.colorWhite{
    color: white;
    margin: 0;
}
.textoCentrado{
    text-align: center;
}
.colorBlack{
    color: rgb(0, 0, 0) !important;
    margin: 0;
}
.loading_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.sectionError404{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionError404_img{
    width: 50%;
}

footer{
    padding: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    
}
footer h5, footer p{
    padding: 0;
    margin: 0;
    font-size: 12px;
}